* {
  /*You can reset the defaults by creating declarations for margin and padding with values of 0 */
  margin: 0;
  padding: 0;
}

body{
  background: white;
  font-family: 'Trebuchet MS', sans-serif; 
}

#banner {
  background-image: url("https://images.unsplash.com/photo-1617471346061-5d329ab9c574?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  opacity: 0.8;
  background-size: cover;
  background-position: bottom center;
  /*Add a height of 700 pixels to #banner*/
  height: 700px;
  width: 100%;  
}

h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 70px;
  font-weight: 600;
  text-align: center;
}

.container {
  width: 270px;
  border: 8px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  position: relative;
  top: 200px;
  margin: 0 auto;
}
/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

/*****/
.main {
  background-color: #FFF;
/*   width: 400px; */
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content {
  width: 500px;
  height: 500px;
  background-color: #FFF;
/*   background-color: dodgerblue; */
  border: 1px solid #CCC;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.bg{
    background-image: url("https://images.unsplash.com/photo-1542435503-956c469947f6?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  opacity: 0.7;
}

h2 {
  padding: 10px;
  color: #FFF;
  text-shadow: 3px 3px 4px #000000;
  font-size: 40px;
  font-weight: 600;
}

/****/
/* Footer */


footer {
  padding: 4rem 0;
  border-top: 1px solid #999999;
  font-family: 'Roboto', sans-serif;
  
  color: #999999;
  text-align: center;
  /* EM 4.
Set the font size in the footer (“© Bana’s Travel Blog”) to 0.75em. 
  font-size: 0.75em;*/
  /* REM 9.
Set the font size of the footer to 1.125rem. */
  font-size: 1.125rem;
}
